In [2]:
from sklearn.datasets import fetch_california_housing
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = fetch_california_housing()
dfHouse = pd.DataFrame(data.data,columns=data.feature_names)

In [4]:
dfHouse["MedHouseVal"] = data.target

In [5]:
dfHouse.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

Outlier

In [6]:
dfHouse.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [7]:
(dfHouse.shape[0]+1)*1/4

5160.25

In [8]:
dfHouse.iloc[5161,:]

MedInc            2.091700
HouseAge         35.000000
AveRooms          4.284404
AveBedrms         1.107034
Population     1357.000000
AveOccup          4.149847
Latitude         33.950000
Longitude      -118.290000
MedHouseVal       0.993000
Name: 5161, dtype: float64

In [19]:
Q1 = dfHouse.quantile(0.25)
Q3 = dfHouse.quantile(0.75)
IQR = Q3-Q1
IQR

MedInc          2.179850
HouseAge       19.000000
AveRooms        1.611665
AveBedrms       0.093447
Population    938.000000
AveOccup        0.852520
Latitude        3.780000
Longitude       3.790000
dtype: float64

In [21]:
dfHouse < (Q1 - 1.5 * IQR)
dfHouse > (Q3 + 1.5 * IQR)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False
20636,False,False,False,True,False,False,False,False
20637,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False