In [1]:
import pandas as pd
import numpy as np

In [4]:
tip = ["elma","armut","portakal","mandalina"]
Stip = pd.Series(tip)
kilo = [10,25,30,12]
Skilo = pd.Series(kilo)
fyt = [12,16,12,35]
Sfyt = pd.Series(fyt)
df = pd.DataFrame({"tip":Stip,"kilo":Skilo,"fiyat":Sfyt})
df

         tip  kilo  fiyat
0       elma    10     12
1      armut    25     16
2   portakal    30     12
3  mandalina    12     35

In [2]:
tip = ["elma","armut","portakal","mandalina"]
Stip = pd.Series(tip)
kilo = [10,25,30,12]
Skilo = pd.Series(kilo)
fyt = [12,16,12,35]
Sfyt = pd.Series(fyt)
df = pd.DataFrame({"tip":["elma","armut","portakal","mandalina"],"kilo":[10,25,30,12],"fiyat":[12,16,12,35]})
df

         tip  kilo  fiyat
0       elma    10     12
1      armut    25     16
2   portakal    30     12
3  mandalina    12     35